@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
  background-image: url(https://images7.alphacoders.com/671/671281.jpg);
  font-family: 'Roboto', sans-serif;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 20px;
}